
@{
    ViewBag.Title = "AdminPage";
}

<h2>AdminPage</h2>
@Html.ActionLink("GKI", "HomePage", "Home")


<br>
@Html.ActionLink("Пользователи", "AdminUsersList", "Admin")<br>
@Html.ActionLink("Новости школы", "NewsSchoolPage", "NewsSchool")<br>
@Html.ActionLink("Новости музыкального направления", "NewsMusicalPage", "NewsMusical")<br>
@Html.ActionLink("Новости художественного направления", "NewsArtPage", "NewsArt")<br>
@Html.ActionLink("События", "NewsEventPage", "NewsEvent")<br>
@Html.ActionLink("Видеогаллерея", "AdminGalleryPhoto", "Admin")<br>
@Html.ActionLink("Фотогаллерея", "AdminGalleryVideo", "Admin")<br>
@Html.ActionLink("Выпускники", "GraduatesList", "Graduates")<br>
@Html.ActionLink("Profile", "MyProfile", "Account")<br>