@model GKIbyAkhremchik.ViewModel.NewsModels.NewsModel

@{
    ViewBag.Title = "DetailNewsSchool";
}

<h2>DetailNewsSchool</h2>

<div>
    <h4>NewsModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NewsSchoolId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NewsSchoolId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt> 
            @Html.DisplayNameFor(model => model.Img_Title)
        </dt>

        <dd>
            <img src="~/images/schoolDepart/@ViewBag.Path/@Model.Img_Title"
                 alt="" style="width:500px;height:350px;">            
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SmallText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SmallText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullText)
        </dd>

        <dt>
            Фотогалерея 
            #@Html.DisplayNameFor(model => model.GalleryPhoto.GalleryPhotoId) |
            @Html.DisplayFor(model => model.GalleryPhoto.GalleryPhotoId):
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GalleryPhoto.Title)
        </dd>

        <dt>
            Видеогалерея 
            #@Html.DisplayNameFor(model => model.GalleryVideo.GalleryVideoId) |
            @Html.DisplayFor(model => model.GalleryVideo.GalleryVideoId): 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GalleryVideo.Title)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактирование", "UpdateNewsSchool", new { id = Model.NewsSchoolId }) |
    @Html.ActionLink("В Мусорку", "Delete", new { id = Model.NewsSchoolId }) |
    @Html.ActionLink("Вернуться", "NewsSchoolPage")
</p>
