@model IEnumerable<GKIbyAkhremchik.ViewModel.NewsModels.NewsModel>

@{
    ViewBag.Title = "NewsSchoolPage";
}

<h2>NewsSchoolPage</h2>

<p>
    @Html.ActionLink("Добавить новость", "InsertNewsSchool")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NewsId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Img_Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SmallText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GalleryPhotoId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GalleryPhoto.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GalleryVideoId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GalleryVideo.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NewsId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Img_Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SmallText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FullText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GalleryPhotoId)
        </td>
        <td>
            <a href="~/GalleryPhoto/DetailPhotoGallery/@item.GalleryVideoId">
             @Html.DisplayFor(modelItem => item.GalleryPhoto.Title) 
            </a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GalleryVideoId)
        </td>
        <td>
            <a href="~/GalleryVideo/DetailVideoGallery/@item.GalleryVideoId">
             @Html.DisplayFor(modelItem => item.GalleryVideo.Title) 
            </a>    
        </td>
        <td>
            @Html.ActionLink("Редактирование", "UpdateNewsSchoolS", new { id=item.NewsId }) |
            @Html.ActionLink("Просмотр новости", "DetailNewsSchool", new { id = item.NewsId }) |
            @Html.ActionLink("В Мусорку", "Delete", new { id = item.NewsId })
        </td>
    </tr>
}

</table>
