@model IEnumerable<GKIbyAkhremchik.ViewModel.NewsModels.NewsModel>

@{
    ViewBag.Title = "NewsSchoolPage";
}

<h2>NewsSchoolPage</h2>

<p>
    @Html.ActionLink("Добавить новость", "InsertNewsSchool")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NewsSchoolId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Img_Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SmallText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FullText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GalleryPhoto.GalleryPhotoId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GalleryPhoto.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GalleryVideo.GalleryVideoId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GalleryVideo.Title)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NewsSchoolId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.Img_Title)*@
                @if (item.Img_Title != null)
                {
<img src="~/images/schoolDepart/@item.Date.ToString().Substring(0,10).@item.Title.Substring(0,8).Replace(' ','_')/@item.Img_Title" 
                         alt="" style="width:100px;height:60px;">
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SmallText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GalleryPhoto.GalleryPhotoId)
            </td>
            <td>
                <a href="~/GalleryPhoto/DetailPhotoGallery/@item.GalleryVideoId">
                    @Html.DisplayFor(modelItem => item.GalleryPhoto.Title)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GalleryVideo.GalleryVideoId)
            </td>
            <td>
                <a href="~/GalleryVideo/DetailVideoGallery/@item.GalleryVideoId">
                    @Html.DisplayFor(modelItem => item.GalleryVideo.Title)
                </a>
            </td>
            <td>
                @Html.ActionLink("Редактирование", "UpdateNewsSchool", new { id = item.NewsSchoolId }) |
                @Html.ActionLink("Просмотр новости", "DetailNewsSchool", new { id = item.NewsSchoolId }) |
                @Html.ActionLink("В Мусорку", "Delete", new { id = item.NewsSchoolId })
            </td>
        </tr>
    }

</table>
