@model GKIbyAkhremchik.DAL.NewsSchool

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>NewsSchool</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Img_Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Img_Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SmallText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SmallText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GalleryVideo.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GalleryVideo.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GalleryPhoto.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GalleryPhoto.Title)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NewsSchoolId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
