@model IEnumerable<GKIbyAkhremchik.ViewModel.NewsModels.NewsModel>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Img_Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SmallText)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Img_Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SmallText)
        </td>
    </tr>
}

</table>
